.loading-dot-container {
    display: flex;
    height: 30px;
    align-items: center;

    @keyframes dot-anim{
      0%, 100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-6px);
      }
    }

    .dot{
      width: 8px;
      height: 8px;
      margin: 4px;
      border-radius: 50%;
      background-color: #e8e8e8;
      animation: dot-anim 1.5s infinite ease-in-out;
      &:nth-child(2) {
        animation-delay: 0.5s;
      }
      &:nth-child(3) {
        animation-delay: 1s;
      }
    }
  }

  .info-container {
    border: 2px solid  #e8e8e8;
    border-radius: 6px;
    padding: 10px;
    color:  #e8e8e8;
    font-size: 16px;
    p{
      margin: 0;
    }
  }